<div class="row justify-content-md-center">
    <div class="container d-flex justify-content-center"> 
        <div class="col-md-8">
            <div class="cardForm">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2>Ingresar Empresa al Sistema</h2>
                        <form #companyForm="ngForm" (ngSubmit)="addCompany(companyForm)"> 
                            <div class="form-group">
                                <input type="text" class="form-control"  name="nombreEmpresa" placeholder="Ingrese nombre de la empresa" required [(ngModel)]="createdCompany.nombreEmpresa" #nombreEmpresa="ngModel">
                            </div>
                            <button class="btn btn-primary"> 
                                Guardar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-striped" datatable>
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre de la Empresa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of business">
                        <td>{{company.nombreEmpresa}}</td>
                        <td>
                            <button class="btn btn-secondary btn-sm" (click)="openModal(editModal,company)">
                                <i class="material-icons">edit</i>
                            </button>
                            <button class="btn btn-danger btn-sm"  (click)="deleteCompany(company.idEmpresa)">
                                <i class="material-icons">delete</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #editModal let-modal>
 <div class="modal-header">
  <h5 class="modal-title" id="editCompanyLabel">Modificar credenciales de la Empresa</h5>
  <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
   <span aria-hidden="true">&times;</span>
  </button>
 </div>
 
 <div class="modal-body">
  <form [formGroup]="editCompanyForm" (ngSubmit)="updateCompany(editCompanyForm)">
   <div class="form-group row">
    <label for="nombreUsuario" class="col-sm-4 col-form-label">Nombre de la Empresa</label>
    <input type="hidden" class="form-control" formControlName="idEmpresa" id="idEmpresa">
    <div class="col-sm-8">
     <input type="text" class="form-control" formControlName="nombreEmpresa" id="nombreEmpresa">
    </div>
   </div>   
   <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" id="buttonCloseEdit">Cerrar</button>
    <button class="btn btn-primary">Guardar cambios</button>
   </div>
  </form>
 </div>
</ng-template>