<div class="row justify-content-md-center">
    <div class="container d-flex justify-content-center align-items-center"> 
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Register Complete!</h2>
                    <p>Please click the button to go to your profile</p>
                    <a class="btn btn-primary ml-auto" [routerLink]="['/profile/',currentUserValue]">Go to profile</a>
                </div>
            </div>
        </div>
    </div>
</div>